body {
    background-color: #F2F2F2;
    margin: 0;
}

/* banniere */
.banner {
    position: relative;
    margin: 0 10%;
}

.banner h1, h4 {
    position: absolute;
    top: 40%;
    left: 40%;
    text-transform: capitalize;
    color: white;
}
.banner h4{
    margin: 70px 0;
    font-size: 20px;
}
.banner h1{
    margin: 0px 80px;
    font-family: 'Pacifico', cursive;
}

.banner hr {
    position: absolute;
    color: white;
    width: 90px;
    top: 60%;
    left: 45%;
}