body {
    background-color: #F2F2F2;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


button:hover {
    color: red;
    border: red solid 2px;
}
/* banniere */
.banner {
    position: relative;
    /* display: flex;
    justify-content: center ;
    align-items: center; */
}

header .banner img {
    width: 100%;
}

.banner h1, h4 {
    position: absolute;
    text-transform: capitalize;
    color: white;
    padding: 0;
    margin: 0;
}
.banner h4{
    font-size: 20px;
    top: 55%;
    left: 50%;
    transform:translateX(-50%);
}
.banner h1{
    font-family: 'Pacifico', cursive;
    top:40%;
    left: 50%;
    transform:translateX(-50%);
}

.banner hr {
    position: absolute;
    color: white;
    width: 90px;
    top:60%;
    left: 50%;
    transform:translateX(-50%);

}

/* section 1 */
section:nth-of-type(1) {
    margin: 26px 16%;
}


section:nth-of-type(1) .sect1div1 .far {
    padding: 3px;
    border: 2px solid black;
    border-radius: 50%;

}
section:nth-of-type(1) .sect1div1 {
    text-align: center;
    padding: 20px;
    /* width: 70%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section:nth-of-type(1) .sect1div1 button {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-bottom: 15px;
}

/* section 2 */

section:nth-of-type(2) {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

section:nth-of-type(2) .divcart {
    width: 40%;
    margin: 20px;
    text-align: center;
    background-color: white;
    overflow: hidden;

}
section:nth-of-type(2) .divcart p {
    padding: 7px;
}
section:nth-of-type(2) .divcart .cartimg {
    position: relative;
}
section:nth-of-type(2) .divcart .cartimg img {
    width: 100%;
    filter: brightness(0.50);
    transition: all 1s;
}

/* animation hover */
section:nth-of-type(2) .divcart .cartimg:hover img  {
    overflow: hidden;    
    transform: scale(1.2);
}



.divcart .cartimg h3 {
    position: absolute;
    top: 0;
    color: white;
    top:40%;
    left:30%;
    text-transform: uppercase;
}
section:nth-of-type(2) .divcart button {
    padding: 10px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 10px;
}

/*  section 3*/

section:nth-of-type(3) .sect3div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section:nth-of-type(3) .sect3div1 button{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

section:nth-of-type(3) hr {
    margin-top: 8%;
    width: 100px;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer ul li{
    display: inline;
}
footer ul li i{
    margin: 0 4px;
}